body {
    height: 700px;
    position: relative;
}

/* #root {} */

#model_popUp_bg {
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000059;
}

#model_popUp_box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 20px;
    border-radius: 5px;
}