#loginorregpage {
    width: inherit;
    text-align: end;
}

#body_contains>div>div.MuiBox-root.css-1gsv261>div>div>div {
    justify-content: flex-end;
}

div#body_contains {
    /* height: calc(100vh - 15vh);
    width: 1366px; */
}

#body_contains>main>div>form>div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root input {
    background-color: inherit;
    color: inherit;
}

#body_contains>main>div>form>div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root input::placeholder {
    color: inherit;
}

#authentication-body {
    min-width: -webkit-fill-available;
    text-align: end;

}

#authentication-body a {
    margin: 10px;
    text-decoration: none;

}

.textfeild input {
    background-color: #fff;

}