#table_data {
    border-collapse: collapse;
    width: 100%;
}

#table_data td,
#table_data th {
    border: 1px solid black;
}

#table_data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #303030;
    color: white;
}

#table_data td:hover {
    background-color: #bdbdbd;
    cursor: pointer;
}

#root {
    width: 100% !important;
}