body {
    height: 100%;
    text-align: center;
    counter-reset: section;
    background-color: #000;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 111px;
}




/* .para {
    text-align: left;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: .4rem;
}

h2::before {
    counter-increment: section;
    content: "section " counter(section)": ";
}

a::after {
    content: " - (" attr(href)").";
}

div.demo {}

div.demo-inside-box {
    background-color: aqua;
    width: calc(100% - 100px);
}

div.conic {
    width: 300px;
    height: 300px;
    background-image: conic-gradient(red, yellow, green);
    transition: width 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.conic:hover {
    width: 700px;
}

div.max-box {
    background-color: brown;
    height: 150px;
    width: max(50%, 300px);
}

div.myAni {
    width: 300px;
    height: 200px;
    background: red;
    animation: myMove 5s infinite;
}

@keyframes myMove {
    from {
        background-color: red;
    }

    to {
        background-color: blue;
    }
} */

.card {
    position: relative;
    width: 30vw;
    height: 30vw;
    display: flex;
    background-color: #151823;
    border-radius: 50%;
}

.card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 7s ease infinite;
}

.card h1 {
    color: #252b37;
    margin: auto;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: textColor 7s ease infinite;

}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }

    50% {
        color: #0fffc1;
    }

    100% {
        color: #7e0fff;
    }
}