div#delete_bg {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 2;
}

div#delete_bg>div#delete_popUp {
    background-color: #fff;
    height: 200px;
    width: 700px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;
}

#delete_popUp>h1 {
    margin-top: 30px;
}

#delete_popUp>span>button {
    height: 36px;
    width: 100px;
    margin: 20px;
}

#delete_popUp>span>button:nth-child(1):hover {
    background-color: rgba(255, 0, 0, 0.37);
    border: 1px solid red;
    color: red;
}

#delete_popUp>span>button:nth-child(2):hover {
    background-color: rgba(0, 255, 0, 0.37);
    border: 1px solid rgb(55, 151, 0);
    color: rgb(55, 151, 0);
}