#popup_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.185);
    height: 635px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 5px;
}

#popup_card>button {
    width: 34px;
    position: relative;
    left: 563px;
}

#popup_card>span.popup_btn_for {
    width: 255px;
    position: relative;
    left: 355px;
}

#popup_card input {
    height: 26px;
}

#popup_card>span.popup_name_input>input[type=text] {
    width: 287px;
}

#popup_card>span.popup_name_input>input[type=text]:nth-child(1) {
    margin-right: 10px;
}

#popup_card>input[type=number] {
    width: 200px;
}

#popup_card>span.popup_btn_for>button {
    height: 32px;
    margin: 10px;
}