body {
    margin: 0px;
}

#box1 {
    background-color: black;
    color: white;
}

#box1>h1 {
    margin: 0px 0px 10px 0px;
    padding: 20px;
}

#data-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
}

#list {
    display: flex;
    justify-content: space-around;
}

.dataListEntry {
    list-style-type: none;
}

.list-actualdata {
    text-align: end;
}