@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

#root {
    height: 575px;
    position: relative;
    padding: 30px;
}