@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* @font-face {
    font-family: Robo;
    src: url('https: //fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
} */

body {
    margin: 0%;
    background-color: #4a86e8;
    text-align: start;
    font-family: 'Roboto Condensed', sans-serif !important;
}

a {
    text-decoration: none;
}

a.f-p {
    margin-left: 160px;
    color: #4a86e8;
}

h1 {
    font-weight: 300;
}

p {
    font-weight: lighter;
}

td.register-card.c>h1,
span.register-card {
    height: 60px;
}

tr>td.login-card.c>h1 {
    height: 72px;
}

table.cards {
    margin-left: 237px;

}

hr {
    margin: 20px 21px 20px 0px;
}

td.c {
    padding-left: 25px;
    background-color: #ffffff;
    background-image: url("../images/ring.png");
    background-repeat: no-repeat;
    background-position: 100%;
    width: 295px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 7px rgb(145, 145, 145);
}

table,
td.c {
    border-spacing: 80px;
}

input {
    width: 265px;
    height: 35px;
    margin-bottom: 15px;
    border: 1.5px solid gray;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

input::placeholder {
    font-family: 'Roboto Condensed', sans-serif !important;
}

input:hover {
    border: 1.5px solid #4a86e8;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline-style: none;
}


input:focus {
    border: 1.5px solid #4a86e8;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline-style: none;
}

input:focus::placeholder {
    color: #4a86e8;

}

/* ----------------------------------------- */


input:focus::placeholder {
    font-size: 10px;
    position: relative;
    top: -15px;
    transition: 0.2s ease-out;
}

/* ----------------------------------------- */

button.l-btn,
button.r-btn {
    height: 36px;
    width: 274px;
    border-radius: 5px;
    border: 1px none;
    background-color: #4a86e8;
    color: #ffffff;
    font-weight: bold;
}

button.l-btn {
    margin-top: 5px;
}

td.c>a.socials>button {
    width: 126px;
    height: 36px;
    border-radius: 5px;
    border: 0.1px solid;
    border-color: gray;
    background-color: #ffffff;

}

td.c>a:nth-child(9)>button {
    margin-right: 18px;
}

td.c>a:nth-child(8)>button {
    margin-right: 18px;
}

p.foot-p {
    margin-left: 30px;
}

p.foot-p>a {
    color: #4a86e8;
}